<!-- Hero Section -->
<section class="hero" id="home">
    <div class="container">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Ashley Mae Conard</h1>
                <p class="subtitle">Senior Researcher @MSR, PhD CS & Comp Bio @Brown</p>
            </div>
            <div class="quick-links">
                <a href="https://github.com/ashleymaeconard" target="_blank" aria-label="GitHub">
                    <img id="github-icon" src="" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/ashleymaeconard/" target="_blank" aria-label="LinkedIn">
                    <img id="linkedin-icon" src="" alt="LinkedIn">
                </a>
                <a href="https://twitter.com/AshleyMaeConard" target="_blank" aria-label="Twitter">
                    <img id="twitter-icon" src="" alt="Twitter">
                </a>
                <a href="https://scholar.google.com/citations?user=aRp47GEAAAAJ&hl=en&authuser=1&oi=ao" target="_blank"
                    aria-label="Google Scholar">
                    <img id="scholar-icon" src="" alt="Google Scholar">
                </a>
            </div>
        </div>
    </div>
</section>